.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.welcome-message {
  color: #505160;
  display: flex;
  justify-content: center;
}

.post-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 100px;
  margin-right: 100px;
}

.post-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: larger;
  font-weight: 700;
}

.post-choices-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.post-b-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.post-a-container {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.annoying-bitch {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.a {
  color: #90afc5;
  font-weight: 600;
}

.b {
  color: #f67280;
  display: flex;
  font-weight: 600;
  align-items: flex-end;
  justify-content: flex-end;
}

.button-b {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.creator {
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-size: small;
  font-weight: 300;
  font-style: italic;
}

.bitch-container {
  display: flex;
  justify-content: center;
}

.empty-div{
  width: 300px;
}

.vs-bar-container {
  display: flex;
  flex-direction: column;
}

.bar-outline {
  display: flex;
  flex-direction: row;
  flex-grow: 4;
  width: 600px;
  height: 20px;
  border: 1px solid grey;
}

.bar-a {
  /* width: 100px; */
  background-color: #90afc5 ;
}

.bar-b {
  /* width: 500px; */
  background-color: #f67280;
}

.button-a{
  width: 100px;
}

.button-b{
  display: flex;
  justify-content: flex-start;
  width: 100px;
}

.post-b-container {
  width: 300px;
  display: flex;
}

.creator-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 300px;
}

.title {
  color: #505160
}

.number-bets-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}